<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="index.html"> <img src="image/temp_logo.webp" alt=""></a>
        </div>
        <div class="navigation">
            <ul type="none">
                <li><a href="index.html">Ana Səhifə</a></li>
                <li><a href="about.html">Haqqımızda</a></li>
                <li><a href="#">Qaleriya</a></li>
                <li><a href="registration.html">Üzv olmaq</a></li>
                <li class="dropdown"><a href="javascript:void(0)">More</a>
                    <div class="drop">
                        <a href="offer.html">Təkliflər</a>
                        <a href="">Blog</a>
                        <a href="contact.html">Əlaqə</a>
                        <a href="">Daxil olmaq</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="https://www.instagram.com/codexcademy/" class="icon-inst" target="_blank"><i
                class="fab fa-instagram"></i></a>
    </div>
</header>
<div class="about-img">
    <div class="about-header">

    </div>
</div>
<div class="about-us">
    <h1>Əylənərək öyrənmək</h1>
   <p> Dəyərli tələbələr. Bildiyiniz kimi universitetimizdə mühəndisliyin müxtəlif sahələri üzrə <br> klublar olsa da IT sahəsi
    üzrə heç bir klub fəaliyyət göstərmirdi. Biz də bu məqsədlə <br> proqramlaşdırma sahəsində özünüzü inkişaf etdirə
    biləcəyiniz  eyni zamanda da əylənə biləcəyiniz <br>  "Codex Club"u yaratdıq. Klubumuzun fəaliyyətləri haqqında qısa
    məlumat: <br> 1~Müxtəlif proqramlaşdırma dillərində həftəlik dərslərin təşkili (üzvlərimizin dərs cədvəllərinə uyğun).
    2~Müxtəlif <br> yarışların təşkili və yarışlarda fərqlənən tələbələrin sertifikatla təmin olunması. 3~Proqramlaşdırma
    sahəsində öz <br> sözünü demiş mütəxəssislərlə görüşlərin təşkili 4~Müxtəlif şirkətlərə iş prosesi ilə tanışlıq üçün
    texniki gəzintilərin <br> təşkili. 5~Üzvlərin fərdi inkişafını təmin etmək məqsədi ilə müxtəlif fəaliyyətlərin təşkili
    6~Semestrin sonunda üzvlərin <br> fəaliyyətlərdə iştirakına uyğun klub balının verilməsi </p>
</div>
<div class="phone-number">
    <p>+994556360902</p>
    <span>©2019 by codexclub. Proudly created with Wix.com</span>
</div>
</body>
</html>