<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="index.html"> <img src="image/temp_logo.webp" alt=""></a>
        </div>
        <div class="navigation">
            <ul type="none">
                <li><a href="index.html">Ana Səhifə</a></li>
                <li><a href="about.html">Haqqımızda</a></li>
                <li><a href="#">Qaleriya</a></li>
                <li><a href="registration.html">Üzv olmaq</a></li>
                <li class="dropdown"><a href="javascript:void(0)">More</a>
                    <div class="drop">
                        <a href="offer.html">Təkliflər</a>
                        <a href="#">Blog</a>
                        <a href="contact.html">Əlaqə</a>
                        <a href="#">Daxil olmaq</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="https://www.instagram.com/codexcademy/" class="icon-inst" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="main">
        <div class="main-btn">
            <button>Get In Touch</button>

        </div>
        <div class="main-hdr">
            <h1>Hello. I'am codexclub</h1>
            <p>Creating a Stronger Online Presence</p>
        </div>

    </div>
</header>

<div class="main-about">
    <div class="about-us">
        <h1>Haqqımızda</h1><br>
        <h4>Your One-Stop Programmer</h4><br>
        <p>
            Dəyərli tələbələr. Bildiyiniz kimi universitetimizdə mühəndisliyin <br>
            müxtəlif sahələri üzrə klublar olsa da IT sahəsi üzrə heç bir klub <br>
            fəaliyyət göstərmirdi. Biz də bu məqsədlə proqramlaşdırma <br>
            sahəsində özünüzü inkişaf etdirə biləcəyiniz eyni zamanda da əylənə <br>
            biləcəyiniz "Codex Club"u yaratdıq. Klubumuzun fəaliyyətləri <br>
            haqqında qısa məlumat: 1~Müxtəlif proqramlaşdırma dillərində <br>
            həftəlik dərslərin təşkili (üzvlərimizin dərs cədvəllərinə uyğun). <br>
            2~Müxtəlif yarışların təşkili və yarışlarda fərqlənən tələbələrin <br>
            sertifikatla təmin olunması. 3~Proqramlaşdırma sahəsində öz sözünü <br>
            demiş mütəxəssislərlə görüşlərin təşkili 4~Müxtəlif şirkətlərə iş <br>
            prosesi ilə tanışlıq üçün texniki gəzintilərin təşkili. 5~Üzvlərin <br>
            fərdiinkişafını təmin etmək məqsədi ilə müxtəlif fəaliyyətlərin<br>
            təşkili 6~Semestrin sonunda üzvlərin fəaliyyətlərdə iştirakına uyğun <br>
            klub balının verilməsi</p>
    </div>
    <div class="image">
        <img src="image/office-work.jpg" alt="">
    </div>
</div>
<div class="my-skill">
    <h1>My Skill Set</h1>
    <h4>Agile Solutions</h4>
</div>
<div class="skill-about1">
    <div class="left-image">
        <img src="image/skill-img.jpg" alt="">
    </div>
    <div class="right-text">
        <h1>Front-End Development</h1>
        <h4>Exceeding Expectations</h4>
        <p>This service can play an integral role in making sure you stand out in <br> a crowded field. While I find
            Front-End Development especially <br> satisfying, it is just one of many elements that go into a successful
            <br>development project.</p>
    </div>
</div>
<div class="skill-about2">
    <div class="left-text">
        <h1>Javascript</h1>
        <h4>Committed to Quality</h4>
        <p>This is one of the services I offer and really enjoy utilizing. Most of my <br> clients have benefited from
            my
            expertise in Javascript, so contact me <br> to find out more about my skills and how I can implement them in
            <br> your project.</p>
    </div>
    <div class="right-img">
        <img src="image/java.jpg" alt="">
    </div>
</div>
<div class="client-list">
    <h1>Client List</h1>
    <p>From Personal Websites to Big Businesses</p>
</div>
<div class="icons">
    <div class="icon1">
        <i class="fas fa-bullseye"></i>
        <h1>Targo</h1>
        <h4>A Unique Challenge</h4>
    </div>
    <div class="icon2">
        <i class="fab fa-monero"></i>
        <h1>Hero</h1>
        <h4>One-of-a-Kind</h4>
    </div>
    <div class="icon3">
        <i class="fab fa-fort-awesome"></i>
        <h1>Axes</h1>
        <h4>Something Special</h4>
    </div>
    <div class="icon4">
        <i class="fas fa-volleyball-ball"></i>
        <h1>Volve</h1>
        <h4>A Unique Challenge</h4>
    </div>
</div>

<div class="my-projects">
    <h1>My Latest Projects</h1>
    <p>My career has followed a natural progression as I’ve kept up with the latest trends in coding and web
        development. I’ve learnt something <br> from each new project I’ve taken on, and continue to innovate and
        problem-solve every time I start something new.</p>
</div>
<div class="project-img">
    <div class="api">
        <img src="image/api.jpg" alt="">
        <h1> API Development</h1>
        <h4> April - May 2023</h4>
    </div>
    <div class="app">
        <img src="image/appp.jpg" alt="">
        <h1>App Conceptual Design</h1>
        <h4> April - May 2023</h4>
    </div>
    <div class="user">
        <img src="image/user.jpg" alt="">
        <h1>User Experience Update</h1>
        <h4>April - May 2023</h4>
    </div>
</div>
<div class="chat-us">
    <div class="chat-head">
        <h1>Let's Chat</h1>
        <p>Khirdalan, Azerbaijan</p>
        <p>carciyev.valeh1999@gmail.com</p>
        <p>+994556360902</p>
    </div>
    <div class="chat-reg">
        <form action="">
            <input type="text" placeholder="Name" class="text" required>
            <br>
            <input type="text" placeholder="Address" class="text" required> <br>
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Phone" class="phone" required> <br>
            <input type="text" placeholder="Subject" class="text" required> <br>
            <textarea name="" id="" cols="20" rows="10" placeholder="Type your message here..."></textarea>
            <br>
            <button class="reg-btn">Submit</button>
        </form>
    </div>
</div>
<div class="footer-gallery">
    <div class="footer-image1">
        <div class="time">
            <span>May 23, 2019 1 min</span>
        </div>
        <h1><a href="">Still using 2-factor authentication? Think...</a></h1>
        <br>
        <hr>
        <div class="footer-icons">
            <i class="far fa-eye"> 8</i>
            <span>Write comment</span>
            <i class="far fa-heart heart"></i>
        </div>
    </div>
    <div class="footer-image2">
        <div class="time">
            <span>May 23, 2019 1 min</span>
        </div>
        <h1><a href="">10 things every developer needs about...</a></h1>
        <br>
        <hr>
        <div class="footer-icons">
            <i class="far fa-eye"> 5</i>
            <span>Write comment</span>
            <i class="far fa-heart heart"></i>
        </div>
    </div>
    <div class="footer-image3">
        <div class="time">
            <span>May 23, 2019 1 min</span>
        </div>
        <h1><a href="">Touchscreen takeover: the changes to the web...</a></h1>
        <br>
        <hr>
        <div class="footer-icons">
            <i class="far fa-eye"> 4</i>
            <span>Write comment</span>
            <i class="far fa-heart heart"></i>
        </div>
    </div>

</div>
<div class="phone-number">
    <p>+994556360902</p>
    <span>©2019 by codexclub. Proudly created with Wix.com</span>
</div>
</body>
</html>