<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/offer.css">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="index.html"> <img src="image/temp_logo.webp" alt=""></a>
        </div>
        <div class="navigation">
            <ul type="none">
                <li><a href="index.html">Ana Səhifə</a></li>
                <li><a href="about.html">Haqqımızda</a></li>
                <li><a href="#">Qaleriya</a></li>
                <li><a href="registration.html">Üzv olmaq</a></li>
                <li class="dropdown"><a href="javascript:void(0)">More</a>
                    <div class="drop">
                        <a href="offer.html">Təkliflər</a>
                        <a href="">Blog</a>
                        <a href="contact.html">Əlaqə</a>
                        <a href="">Daxil olmaq</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="https://www.instagram.com/codexcademy/" class="icon-inst" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="offer">
        <form action="">
            <h1>Get a Quote</h1>
            <input type="text" placeholder="First Name" required> <br> <br>
            <input type="email" placeholder="a@gmail.com" required> <br> <br>
            <input type="text" placeholder="Number" max="10"> <br> <br>
            <textarea name="" id="" cols="30" rows="10" placeholder="Comment"></textarea>
            <br> <br>
            <button>Submit Request</button>
        </form>
    </div>
</header>
<div class="phone-number">
    <p>+994556360902</p>
    <span>©2019 by codexclub. Proudly created with Wix.com</span>
</div>
</body>
</html>