<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="index.html"> <img src="image/temp_logo.webp" alt=""></a>
        </div>
        <div class="navigation">
            <ul type="none">
                <li><a href="index.html">Ana Səhifə</a></li>
                <li><a href="about.html">Haqqımızda</a></li>
                <li><a href="#">Qaleriya</a></li>
                <li><a href="registration.html">Üzv olmaq</a></li>
                <li class="dropdown"><a href="javascript:void(0)">More</a>
                    <div class="drop">
                        <a href="offer.html">Təkliflər</a>
                        <a href="">Blog</a>
                        <a href="contact.html">Əlaqə</a>
                        <a href="">Daxil olmaq</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="https://www.instagram.com/codexcademy/" class="icon-inst" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    </header>
<div class="registration-menu">
    <div class="header-img">
        <img src="image/mezun.jpg" alt="">
    </div>

    <div class="main-header">
        <div class="line"></div>
        <div class="header">
    <h1>Codex Club qeydiyyat formu</h1>
    <p>Qeydiyyatla bağlı hər hansı problem yaranarsa <br> Instagram(codex_beu) və ya <br> Whatsapp(0707776544~0556360902) vasitəsi ilə
        <br> əlaqə saxlaya bilərsiniz. Xaiş olunur Azərbaycan Şriftindən istifadə edəsiniz.
        <br>Qeyd: Formu doldurarkən məlumatlarınızı düzgün daxil etdiyinizdən əmin olun. Əks halda <br> qeydiyyatınız nəzərə alınmayacaq!!!</p>
    <span>* Gerekli</span>
        </div>
    </div>
    <form action="">
    <div class="input-name">
        <div class="name-input">
            <label for="">Ad <span>*</span></label> <br>
            <input type="text" placeholder="Yanıtınız" required>
        </div>
    </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Soyad <span>*</span></label> <br>
                <input type="text" placeholder="Yanıtınız" required>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Əlaqə Nömrəniz <span>*</span></label> <br>
                <input type="text" placeholder="Yanıtınız" required>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">E-mail <span>*</span></label> <br>
                <input type="email" placeholder="Yanıtınız" required>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Tələbə Nömrəsi <span>*</span></label> <br>
                <input type="email" placeholder="Yanıtınız" required>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Kurs <span>*</span></label> <br>
               <select required>
                   <option value="">Seçin</option>
                   <option value="">1-ci</option>
                   <option value="">2-ci</option>
                   <option value="">3-ci</option>
                   <option value="">5-ci</option>
               </select>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Universitet <span>*</span></label> <br>
                <input type="email" placeholder="Yanıtınız" required>
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">İxtisas <span>*</span></label> <br>
                <input type="email" placeholder="Yanıtınız">
            </div>
        </div>
        <div class="input-name">
            <div class="name-input">
                <label for="">Klubdan Gözləntiləriniz <span>*</span></label> <br>
                <input type="email" placeholder="Yanıtınız">
            </div>
        </div>
        <button class="send-btn">Göndər</button>
    </form>
</div>
<div class="phone-number">
    <p>+994556360902</p>
    <p>©2019 by codexclub. Proudly created with Wix.com</p>
</div>
</body>
</html>