@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.main{
    display: block;
    margin: 0 auto;
    width: 50%;
}
.col-25
{
    float: left;
    width: 25%;
}
.col-75
{
    width: 75%;
    float: left;
}
input[type="text"], input[type="email"], input[type="password"]
{
    width: 50%;
    padding:10px;
    border-radius: 10px;
    border: 2px solid #1ABC9C;
    outline:none;
}
input[type="radio"]
{
    border:2px solid #0E6655;
}
input:hover, textarea:hover, button:hover, select:hover{
    border: 2px solid #0E6655;
    box-shadow: 3px 3px 3px 3px #D1F2EB;
}

input::placeholder
{
    font-family: 'Playfair Display', serif;
}
.row
{
    margin: 20px;
    padding: 20px;
}
input[type="radio"], input[type="date"], option
{
    margin-left: 15px;
}
input[type="date"]
{
    border-radius: 10px;
    border: 2px solid #1ABC9C ;
    outline: none;
}

textarea
{
    resize: vertical;
    width: 61%;
    border-radius: 10px;
    border: 2px solid #1ABC9C ;
}
button
{
    display: block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #A3E4D7 ;
    outline:none;
    resize: none;
    width: 20%;
    background-color: #A3E4D7 ;
    color: #0E6251;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
label
{

    font-family: 'Playfair Display', serif;
    color: #0E6251;
}
select
{
    border-radius: 10px;
    border: 2px solid #1ABC9C ;
    outline: none;
}
option
{
    font-family: 'Playfair Display', serif;
}
@media screen and (max-width: 768px){
    col-25, col-75, button
    {
        width: 100%;
    }
}



