@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
.imgbox
{
    width: 200px;
    display: inline-block;
    border: 1px solid rosybrown;
    margin: 20px;
    padding: 20px ;
    text-align: center;
    border-radius: 30px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: 'Metal Mania', cursive;
}
.button
{
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px  20px ;
    background-color: #F5B7B1;
    outline: none;
    font-size: 20px;
    box-shadow:3px  6px rosybrown;
}
.button:hover
{
    background-color: rosybrown;
}

.button:active {
    background-color: rosybrown;
    box-shadow: 0 5px rosybrown;
   /* transform: translateY(4px);*/
}

