.main
{
    width: 200px;
    height: 492px;
    border: 2px solid coral;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    float: left;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.bashliq
{
    font-family: "Cera Stencil";
    font-size: 25px;
    color: #cd3131;
    text-align: center;
}
.input-text
{
    padding: 10px 10px;
    border: 2px solid coral;
    border-radius: 20px;
    margin-bottom: 20px;
}
.input-text2
{
    padding: 10px 10px;
    border: 2px solid coral;
    border-radius: 20px;
    margin-bottom: 20px;
}
.input-mail
{
    padding: 10px 10px;
    border: 2px solid coral;
    border-radius: 20px;
    margin-bottom: 20px;
}
.input-pass
{
    padding: 10px 10px;
    border: 2px solid coral;
    border-radius: 20px;
    margin-bottom: 20px;
}
.man{
    margin-left: 25px;
    font-family: "Cera Stencil";
    font-size: 20px;
    color: #cd3131;
}
.woman{
    font-family: "Cera Stencil";
    font-size: 20px;
    color: #cd3131;
}
.submit
{
    padding: 15px 25px;
    margin: 45px;
    border: 1px solid coral;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Cera Stencil";
    font-size: 20px;
    color: #cd3131;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.parent
{
    overflow: hidden;
    float: left;
}
.child1
{
    width: 200px;
    height: 225px;
    margin: 20px;
    border: 2px solid coral;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 0px 10px 20px 10px;
}
.child2
{
    width: 200px;
    height: 225px;
    margin: 20px;
    border: 2px solid coral;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 0px 10px 20px 10px;
}
.para1{
    text-align: justify;
    color: brown;
}
.para2{
    text-align: justify;
    color: brown;
}
.parent-img
{
    overflow: hidden;
}
.img1
{
    width: 200px;
    height: 153px;
    border: 3px solid coral;
    margin: 20px;
    border-radius: 20px;
    background-image: url("image/img1.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img2
{
    width: 200px;
    height: 153px;
    border: 3px solid coral;
    margin: 20px;
    border-radius: 20px;
    background-image: url("image/img2.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img3
{
    width: 200px;
    height: 153px;
    border: 3px solid coral;
    margin: 20px;
    border-radius: 20px;
    background-image: url("image/img3.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
